
body{
    font-size:1.2vw;
    font-family:serif;
    max-width:90%;
    height:56.4em;
    background-color:whitesmoke;
    color:gold;
    margin:auto;
}
.homepage{
    background-color:rgb(202, 178, 178);
    width:50%;
    min-height:20%;
    margin:auto;
    
}
h1,h2{
    font-family: 'EB Garamond', serif;
}
header, footer{
    background-color:rgb(37, 112, 37);
    text-align:center;
}

.section{
    height:20em; 
}
.section h2{
    border-bottom:.20em dotted gray;
    padding-top: .1em;
    line-height:.3em;
    padding-left:.6em;
    padding-bottom:.2em;
}

.section ul{
    font-size:1em;
    list-style-type: none;
    padding-top:.3em;

}
main img{
    max-width:30%; 
    margin-left:1em;
}
footer{
    height:2.8em;
    margin-top:2em;
}
footer p{
    padding-top:.8em;
}
#fulldate{
    color:red;
}
