body{
    font-size:1.2em;
    font-family:'EB Garmond', serif;
    max-width:90%;
    max-height:900px;
    background-color:whitesmoke;
    color:gold;
    margin:auto;
}
.homepage{
    background-color:rgb(202, 178, 178);
    width:80%;
    margin:auto;
    height:70%;
}
header, footer{
    background-color:rgb(37, 112, 37);
    text-align:center;
}

.section1{
    height:3em; 
}
.section1 h2{
    border-bottom:.20em dotted gray;
    padding-top: .1em;
    padding-left:.3em;
}
.section2{
    height:18em;
    margin-top:-1em;
}
.section2 ul{
    font-size:1.5em;
    list-style-type: none;
    padding-top:.3em;
}
main img{
    max-width: 100%;
    height:auto;
    width:auto\9;
    position:relative;
    margin-top:.75em;
    top:-4em;
    left:1em;
    float:right;
    box-shadow: 1em 1em;
    border-radius:50%;
    
    
}
footer{
    height:2.8em;
}
footer p{
    padding-top:.8em;
}
#fulldate{
    color:red;
}
