
body{
    font-size:1.2vw;
    font-family:'EB Garmond', serif;
    max-width:90%;
    height:56.4em;
    background-color:whitesmoke;
    color:gold;
    margin:auto;
}
.homepage{
    background-color:rgb(202, 178, 178);
    width:80%;
    min-height:20%;
    margin:auto;
    
}
header, footer{
    background-color:rgb(37, 112, 37);
    text-align:center;
}

.section1{
    height:3em; 
    overflow:hidden;
}
.section1 h2{
    border-bottom:.20em dotted gray;
    padding-top: .1em;
    padding-left:.3em;
}
.section2{
    height:18em;
    margin-top:-1em;
}
.section2 ul{
    font-size:1.5em;
    list-style-type: none;
    padding-top:.3em;
}
main img{
    max-width:30%;
    position:relative;
    float: right;
    left:.8em;
    border-radius:50%;
    box-shadow:.1em .65em black;   
}
footer{
    height:2.8em;
    margin-top:2em;
}
footer p{
    padding-top:.8em;
}
#fulldate{
    color:red;
}
