@media only screen and (min-width: 43em){
    html{
        font-size:2vw;
    }
    header h1{
        
        font-size:1.8rem;    
    }
    .head button{
        display:none;
    }
    .hide{
        position:relative;
        top:-7.4rem;
        left:10rem;
        display:flex;
        justify-content:space-between;
        
    }
    /*--- navigation ---*/
    nav ul{
        width:70%;
        background-color:transparent;
        
    }
    nav ul li a{
        margin-right:1rem;
        font-size:1.5rem; 
        width:70%;
        text-align:center;  
    }
    
    #sec1 p {
        text-align:left;
        margin: 1rem 3% .5rem 3%;
        font-size:1.5rem;
    }
    #sec1 img{
        width: 100%;
        margin: 0 auto;
    }
    #sec1 ul, #sec1 form, #sec1 p{
        width:50%;
        margin:0 Auto;
    }
    #sec1 form{
        justify-self:center;
        width:50%;
        margin:0 auto;
    }
    #center{
        width:70%;
        margin-left:20%;
    }
    footer{
        font-size:1.8rem;
    }
}