header{
    text-align:center;
    color:rgb(63, 52, 221);
}
main{
    
    margin:0 auto;
    box-shadow:0px -4px 10px;
}
main .cards{
    display:grid;
    grid-template-columns: auto;
    grid-row-gap: .3em;
}
main section{
    justify-content:center;
    text-align:center;
    background-color:rgb(147, 128, 230);
    border:1px solid black;
    width:100%;
}
main section h2{
    color:rgb(63, 52, 221);
    margin:.4em;
}
main section p{
    margin:0 0 .2em 0;
}
main section img{
    width:100%;
    max-width:70%;
    margin:.7em auto .5em auto;
    box-shadow: 4px 7px 10px black;
}