@media only screen and (min-width: 43em){
    html{
        font-size:2vw;
    }
    header h1{
        font-size:1.8rem;    
    }
    .head button{
        display:none;
    }
    .hide{
        position:relative;
        top:-7.4rem;
        left:10rem;
        display:flex;
        justify-content:space-between;
        
    }
    /*--- navigation ---*/
    nav ul{
        width:70%;
        background-color:transparent;
        
    }
    nav ul li a{
        margin-right:1rem;
        font-size:1.5rem; 
        width:70%;
        text-align:center;  
    }
    .templeCard{
        font-size:2.3vw;
        display:grid;
        grid-gap:1rem;
        grid-template-columns: auto auto;
    }
    footer{
        font-size:1.8rem;
    }
}