@media only screen and (min-width:65em){
    html{
        font-size:1.5vw;
    }
    header h1{
        position:relative;
        font-size:2rem;
        text-align:center;
        top:-5rem;
        text-shadow:2px 2px  black;     
    }
    .hide{
        top:-5rem;
    }
    .sButton{
        font-size:1rem;
    }
    footer{
        font-size:1rem;
    }
}